@import "../global/variables.scss";
@import "../global/mixin.scss";
@import "../global/media.scss";

.that-form {
    min-height: 100vh;
    &__wrapper {
        background-color: $ligth_yellow;
        border-radius: 20px;
        height: 100%;
        max-width: 390px;
        margin: auto;
        padding: 40px 25px 25px;
        position: relative;
    }
    &__close {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 14px;
        height: 14px;
        cursor: pointer;
        &::before, &::after {
            position: absolute;
            left: 6px;
            content: ' ';
            height: 15px;
            width: 2px;
            background-color: $black;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
        &:hover {
            &::before, &::after {
                background-color: $primary_yellow;
            }
        }
    }
    &__social-icon {
        display: flex;
        justify-content: center;
        a {
            border: 2px solid $primary_yellow;
            border-radius: 50%;
            padding: 13px;
            max-width: 56px;
            max-height: 56px;
            margin: 0 12px;
            img {
                max-width: 25px;
            }
        }
    }
    &__form {
        text-align: left;
        label {
            width: 100%;
            input {
                width: 100%;
                background: transparent;
                border: 0 solid transparent;
                border-bottom: 1px solid $black;
                @include text;
                outline: none;
                &:focus {
                    border-bottom: 1px solid $primary_yellow;
                }
                &::placeholder {
                    @include text;
                }
            }
        }
        &--check {
            @include text;
            input {
                padding: 0;
                height: initial;
                width: initial;
                margin-bottom: 0;
                display: none;
                cursor: pointer;
            }
            label {
                position: relative;
                cursor: pointer;
                &::before {
                    content:'';
                    -webkit-appearance: none;
                    background-color: transparent;
                    border: 2px solid $primary_yellow;
                    border-radius: 5px;
                    padding: 9px;
                    display: inline-block;
                    position: relative;
                    vertical-align: middle;
                    cursor: pointer;
                    margin-right: 10px;
                    margin-top: -1px;
                }
            }
            input:checked + label {
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 3px;
                    left: 8px;
                    width: 6px;
                    height: 14px;
                    border: solid white;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }
                &::before {
                    background-color: $primary_yellow;
                }
            }
        }
        &--btn {
            button {
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }
}