$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
);

// MEDIA MIXINS
// EXTRA SMALL DEVICES
// max-width: 575
@mixin extra-small-size-max {
    @media screen and (max-width: #{map-get($grid-breakpoints, sm) - 1}) {
      @content;
    }
  }
  
  // SMALL DEVICES
  // min-width: 576
  @mixin small-size-min {
    @media screen and (min-width: #{map-get($grid-breakpoints, sm)}) {
      @content;
    }
  }
  // max-width: 767
  @mixin small-size-max {
    @media screen and (max-width: #{map-get($grid-breakpoints, md) - 1}) {
      @content;
    }
  }
  
  // MEDIUM DEVICES
  // min-width: 768
  @mixin medium-size-min {
    @media screen and (min-width: #{map-get($grid-breakpoints, md)}) {
      @content;
    }
  }
  // max-width: 991
  @mixin medium-size-max {
    @media screen and (max-width: #{map-get($grid-breakpoints, lg) - 1}) {
      @content;
    }
  }
  
  // LARGE DEVICES
  // min-width: 992
  @mixin large-size-min {
    @media screen and (min-width: #{map-get($grid-breakpoints, lg)}) {
      @content;
    }
  }
  // max-width: 1199
  @mixin large-size-max {
    @media screen and (max-width: #{map-get($grid-breakpoints, xl) - 1}) {
      @content;
    }
  }
  
  // EXTRA LARGE DEVICES
  // min-width: 1200
  @mixin extra-large-size-min {
    @media screen and (min-width: #{map-get($grid-breakpoints, xl)}) {
      @content;
    }
  }
  // max-width: 1499
  @mixin extra-large-size-max {
    @media screen and (max-width: #{map-get($grid-breakpoints, xxl) - 1}) {
      @content;
    }
  }
  
  // EXTRA SUPER LARGE DEVICES
  // min-width: 1500
  @mixin extra-super-large-size-min {
    @media screen and (min-width: #{map-get($grid-breakpoints, xxl)}) {
      @content;
    }
  }
  
  // USAGE MEDIA QUERY
  //@include medium-size-max {
  //  properties
  //}